<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.daxda.daily-plan</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>/Users/user/PycharmProjects/daxda-next-gen/tools/run_daxda_daily_plan.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/user/PycharmProjects/daxda-next-gen</string>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>9</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/user/PycharmProjects/daxda-next-gen/reports/daxda_daily_execution/launchd.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/user/PycharmProjects/daxda-next-gen/reports/daxda_daily_execution/launchd.stderr.log</string>
</dict>
</plist>
